.menu{
    height: 100px;
    margin-bottom: 100px;
}

.footer{
    height: 40vh;
    background-color: #CC0000;
    color: #fff;
    padding-top: 30px;
}

@media (max-width: 480px) {
    .footer {
        height: 100vh;
    }
}